{% extends "./template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/landing.css">
{% endblock %}

{% block body %}
    <div class="container-narrow">
        <div class="row">
            {% if user.auth_level === "admin" or user.auth_level === "editor" -%}
            <div class="column col-sm-12 col-md-12">
                <a class="btn btn-info btn-block btn-xl" href="/participants">
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;participants
                </a>
            </div>
            {%- endif %}
            <div class="column col-sm-12 col-md-12">
                <a class="btn btn-primary btn-block btn-xl" href="/worksheets">
                    <i class="fa fa-table fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;worksheets
                </a>
            </div>
            {% if user.auth_level === "admin" -%}
            <div class="column col-sm-12 col-md-12">
                <a class="btn btn-default btn-block btn-xl" href="/users">
                    <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;users
                </a>
            </div>
            {%- endif %}
            {% if user.auth_level === "admin" -%}
            <div class="column col-sm-12 col-md-12">
                <a class="btn btn-default btn-block btn-xl" href="/json">
                    <i class="fa fa-database fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;database
                </a>
            </div>
            {%- endif %}
        </div>
    </div>
{% endblock %}