{% extends "./template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/landing.css">
{% endblock %}

{% block body %}
    <div class="container-narrow">
        <div class="page-header">
            <h2><i class="fa fa-key fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;Password reset</h2>
            <p>Please reset your password.</p>
        </div>
        <div class="row">
            <form id="passwordreset-form" class="form" action="/password_reset?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="username">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="new password">
                </div>
                <div class="form-group">
                    <label for="password">Confirm</label>
                    <input type="password" class="form-control" id="confirm" name="confirm" placeholder="confirm new password">
                </div>
                <button type="submit" class="btn btn-primary">Set new password</button>
            </form>
        </div>
    </div>
{% endblock %}