{% extends "../template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2><i class="fa fa-table fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;editing "{{ worksheet.title }}"</h2>
        </div>
        <div class="row">
            <div class="column col-sm-12">
                <form action="TODO">
                    <input class="btn btn-success" type="submit" value="save worksheet">
                    <table id="showTable" class="tablesorter table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="col-sm-3">Name</th>
                                <th class="col-sm-1">Body-%</th>
                                <th class="col-sm-1">Flex</th>
                                <th class="col-sm-1">Situp</th>
                                <th class="col-sm-1">Bench</th>
                                <th class="col-sm-1">Leg</th>
                                <th class="col-sm-1">Cardio</th>
                                <th class="col-sm-1">Time</th>
                                <th class="col-sm-1">Heart</th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assessment in worksheet.assessments %}
                            <tr>
                                <td>
                                    <input class="form-control" list="participants" name="participant" value="{{ assessment.participant.name.last }}, {{ assessment.participant.name.first }}">
                                    <datalist id="participants">
                                    {% for part in participants %}
                                        <option value="{{ part.name.last }}, {{ part.name.first }}">
                                    {% endfor %}
                                    </datalist>
                                </td>
                                <td><input class="form-control" type="number" value="{{ assessment.body_fat }}"></td>
                                <td><input class="form-control" type="number" value="{{ assessment.flex }}"></td>
                                <td><input class="form-control" type="number" value="{{ assessment.situp }}"></td>
                                <td><input class="form-control" type="number" value="{{ assessment.bench }}"></td>
                                <td><input class="form-control" type="number" value="{{ assessment.leg }}"></td>
                                <td><input class="form-control" type="text" value="{{ assessment.cardio.type     }}"></td>
                                <td><input class="form-control" type="number" value="{{ assessment.cardio.time }}"></td>
                                <td><input class="form-control" type="number" value="{{ assessment.cardio.heart_rate }}"></td>
                                <td><a href="TODO"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
