{% extends "../template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2><i class="fa fa-table fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;worksheets</h2>
        </div>
        <div class="row">
            <div class="column col-sm-12">
                <a class="btn btn-primary pull-right" href="#" role="button">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;create worksheet
                </a>
            </div>
            <div class="column col-sm-12">
                <table id="indexTable" class="tablesorter table table-striped">
                    <thead>
                        <tr>
                            <th class="col-width40">Title</th>
                            <th class="col-width20">Author</th>
                            <th class="col-width40">Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for worksheet in worksheets %}
                        <tr>
                            <td class="col-width40"><a href="/worksheets/{{ worksheet._id }}">{{ worksheet.title }}</a></td>
                            <td class="col-width20">{{ worksheet.author.username }}</td>
                            <td class="col-width40">{{ worksheet.prettyDate }}</td>
                        </tr>
                        {% else %}
                            <td class="col-width40">no worksheets to display</td>
                            <td class="col-width20"> - </td>
                            <td class="col-width40"> - </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}