{% extends "../template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2><i class="fa fa-table fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;worksheets</h2>
        </div>
        <div class="row">
            <div class="column col-sm-12">
                <div>
                    <a class="btn btn-primary" href="#" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;&nbsp;create worksheet
                    </a>
                </div>
                <table id="indexTable" class="tablesorter table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for worksheet in worksheets %}
                        <tr>
                            <td><a href="/worksheets/{{ worksheet._id }}">{{ worksheet.title }}</a></td>
                            <td>{{ worksheet.author.username }}</td>
                            <td>{{ worksheet.prettyDate }}</td>
                        </tr>
                        {% else %}
                            <td>no worksheets to display</td>
                            <td> - </td>
                            <td> - </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}