{% extends "../template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h2><i class="fa fa-table fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;{{ worksheet.title }}</h2>
            <h4>created by <strong>{{ worksheet.author.username }}</strong> on {{ worksheet.prettyDate(worksheet.created) }}</h4>
            <h6>Description:
                {% if worksheet.description %}
                    <em>{{ worksheet.description }}</em>
                {% else %}
                    <em>(no description was provided)</em>
                {% endif %}
            </h6>
            <div class="form-group">
                <a href="/worksheets" class="btn btn-default">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    &nbsp;&nbsp;Return to index
                </a>
                <a href="/worksheets/{{ worksheet._id }}/calc" class="btn btn-primary">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    &nbsp;&nbsp;View results
                </a>
                <a href="/worksheets/{{ worksheet._id }}/certificates" class="btn btn-success pull-right">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    &nbsp;&nbsp;Create certificates
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th class="col-width12">Date</th>
                            <th>Weight</th>
                            <th>Heart</th>
                            <th>Pressure</th>
                            <th>Body</th>
                            <th>Flex</th>
                            <th>Situp</th>
                            <th>Bench</th>
                            <th>Leg</th>
                            <th class="col-width09">Cardio</th>
                            <th>Min</th>
                            <th>Sec</th>
                            <th>Heart</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <form action="/worksheets/{{ worksheet._id }}" method="POST">
                            <td>
                                <input class='form-control' list='participants' name='assessment[dept_id]' type='text' required autofocus>
                                <datalist id="participants">
                                {% for participant in participants %}
                                    <option value="{{ participant.dept_id }}">{{ participant.name.last }}, {{ participant.name.first }}</option>
                                {% endfor %}
                                </datalist>
                            </td>
                            <td class="col-width12"><input class='form-control' name='assessment[eval_date]' type='date' required></td>
                            <td><input class='form-control' name='assessment[weight]' type='number' step=1 min=0 required></td>
                            <td><input class='form-control' name='assessment[heart_rate]' type='text' autocomplete="off" required></td>
                            <td><input class='form-control' name='assessment[blood_pressure]' type='text' autocomplete="off" required></td>
                            <td><input class='form-control' name='assessment[body_fat]' type='number' step=0.1 min=0 required></td>
                            <td><input class='form-control' name='assessment[flex]' type='number' step=0.1 min=0 required></td>
                            <td><input class='form-control' name='assessment[situp]' type='number' step=1 min=0 required></td>
                            <td><input class='form-control' name='assessment[bench]' type='number' step=1 min=0 required></td>
                            <td><input class='form-control' name='assessment[leg]' type='number' step=1 min=0 required></td>
                            <td class="col-width09">
                                <select class='form-control' name='assessment[cardio_type]' >
                                    <option value="walk">walk</option>
                                    <option value="run">run</option>
                                </select>
                            </td>
                            <td><input class='form-control' name='assessment[cardio_min]' type='number' step=1 min=0 required></td>
                            <td><input class='form-control' name='assessment[cardio_sec]' type='number' step=1 min=0 required></td>
                            <td><input class='form-control' name='assessment[cardio_heartrate]' type='number' step=1 min=0 ></td>
                            <td>
                                <input class="btn btn-success btn-sm btn-block" type="submit" value="save">
                            </td>
                        </form>
                        </tr>
                    </tbody>
                </table>
                <table id="worksheetShowTable" class="tablesorter table table-striped header-fixed">
                    <thead>
                        <tr>
                            <th class="col-width16">Name</th>
                            <th>Date</th>
                            <th>Weight</th>
                            <th>Heart</th>
                            <th>Pressure</th>
                            <th>Body</th>
                            <th>Flex</th>
                            <th>Situp</th>
                            <th>Bench</th>
                            <th>Leg</th>
                            <th class="col-width09">Cardio</th>
                            <th class="col-width09">Time</th>
                            <th>Heart</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody id="showTableBody">
                        {% for assessment in worksheet.assessments %}
                        <tr>
                            <td class="col-width16">
                                <a id="{{ assessment.participant.dept_id }}" href="/participants/{{ assessment.participant._id }}/edit">{{ assessment.participant.name.last }}, {{ assessment.participant.name.first}}</a>
                            </td>
                            <td>{{ worksheet.prettyDate(assessment.eval_date) }}</td>
                            <td>{{ assessment.weight }}</td>
                            <td>{{ assessment.heart_rate }}</td>
                            <td>{{ assessment.blood_pressure }}</td>
                            <td>{{ assessment.body_fat }}</td>
                            <td>{{ assessment.flex }}</td>
                            <td>{{ assessment.situp }}</td>
                            <td>{{ assessment.bench }}</td>
                            <td>{{ assessment.leg }}</td>
                            <td class="col-width09">{{ assessment.cardio.type }}</td>
                            <td class="col-width09">{{ assessment.cardio.time }}</td>
                            <td>{{ assessment.cardio.heart_rate }}</td>
                            <td>
                                <button class="btn btn-primary btn-xs workshow-edit" type="button">
                                    <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                                </button>
                                <form class="delete-form" action="/worksheets/{{ worksheet._id }}/{{ assessment._id }}?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-xs delete" type="submit">
                                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% else %}
                            <td class="col-width12">no assessments to display</td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td class="col-width09"> - </td>
                            <td class="col-width12"> - </td>
                            <td> - </td>
                            <td> &nbsp; </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column col-sm-12">
                <hr>
                <form class="pull-right" action="/worksheets/{{ worksheet._id }}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete worksheet
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}