{% extends "../template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2><i class="fa fa-table fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;{{ worksheet.title }}</h2>
        </div>
        <div class="row">
            <div class="column col-sm-12">
                <div>
                    <a class="btn btn-primary" href="/worksheets/{{ worksheet._id }}/edit" role="button">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        &nbsp;&nbsp;edit worksheet
                    </a>
                </div>
                <table id="showTable" class="tablesorter table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Body-%</th>
                            <th>Flex</th>
                            <th>Situp</th>
                            <th>Bench</th>
                            <th>Leg</th>
                            <th>Cardio</th>
                            <th>Time</th>
                            <th>Heart</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assessment in worksheet.assessments %}
                        <tr>
                            <td><a href="todo">{{ assessment.participant.name.last }}, {{ assessment.participant.name.first }}</a></td>
                            <td>{{ assessment.body_fat }}</td>
                            <td>{{ assessment.flex }}</td>
                            <td>{{ assessment.situp }}</td>
                            <td>{{ assessment.bench }}</td>
                            <td>{{ assessment.leg }}</td>
                            <td>{{ assessment.cardio.type }}</td>
                            <td>{{ assessment.cardio.time }}</td>
                            <td>{{ assessment.cardio.heart_rate }}</td>
                            <td><a href="todo"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                        {% else %}
                            <td>no assessments to display</td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}