body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

@media print {
  .new-page {
    page-break-after: always;
  }
}

.upper-left-panel {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.upper-middle-panel {
  border-top: 2px solid black;
}

.upper-right-panel {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.bottom-panel {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.text-center {
  text-align: center;
  padding: 5px;
}

.upper-left-panel {
  float: left;
  width: 33%;
  height: 49%;
}

.upper-middle-panel {
  float: left;
  width: 33%;
  height: 49%;
}

.upper-right-panel {
  float: left;
  width: 33%;
  height: 49%;
}

.bottom-panel {
  float: left;
  width: 99%;
  height: 49%;
}

.bottom-panel div {
  margin-top: 5px;
}

div.big {
  font-size: 180%;
  font-style: italic;
  font-weight: 900;
}

img {
  display: block;
  margin: auto;
  padding: 5px;
}

img.city-logo {
  width: 275px;
}

img.male-runner {
  width: 160px;
}

img.female-runner {
  width: 160px;
}

.hr,
.bp,
.weight,
.age,
.body,
.body-result,
.flex,
.flex-result,
.sit,
.sit-result,
.bench,
.bench-result,
.leg,
.leg-result,
.cardio-type,
.cardio-time,
.cardio-hr,
.cardio-result,
.assessment-id,
.sex,
.dob,
.eval-date,
.cardio-min,
.cardio-sec {
  display: none;
}
