body {
    background-image: url("/images/background.jpg");
    font-family: 'Ubuntu', sans-serif;
}

.row {
    margin-top: 25%;
}

.btn-xl {
    padding: 18px 30px;
    font-size: 32px;
    line-height: 1.3333333;
    border-radius: 12px;
}

div.col-md-6, div.col-sm-12 {
    padding: 10px;
}