body {
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 150px;
}

.container-narrow {
    padding-right: 20%;
    padding-left: 20%;
    margin-right: auto;
    margin-left: auto;
}

.btn-xl {
    padding: 18px 30px;
    font-size: 32px;
    line-height: 1.3333333;
    border-radius: 12px;
}

div.col-md-6,
div.col-sm-12 {
    padding: 10px;
}
