body {
    padding-top: 70px;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Ubuntu', sans-serif;
}

.header-fixed {
    width: 100%
}

.header-fixed>thead,
.header-fixed>tbody,
.header-fixed>thead>tr,
.header-fixed>tbody>tr,
.header-fixed>thead>tr>th,
.header-fixed>tbody>tr>td {
    display: block;
}

.header-fixed>tbody>tr:after,
.header-fixed>thead>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed>tbody {
    overflow-y: auto;
    height: 70vh;
}

.header-fixed>tbody>tr>td.name-col,
.header-fixed>thead>tr>th.name-col {
    width: 18%;
    float: left;
}

.header-fixed>tbody>tr>td,
.header-fixed>thead>tr>th {
    width: 9%;
    float: left;
}

.header-fixed>tbody>tr>td.edit-delete-col,
.header-fixed>thead>tr>th.edit-delete-col {
    width: 10%;
    float: left;
}
