body {
    padding-top: 70px;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Ubuntu', sans-serif;
}

.btn-xs {
    margin: 2px 2px;
}

.header-fixed {
    width: 100%
}

.header-fixed>thead,
.header-fixed>tbody,
.header-fixed>thead>tr,
.header-fixed>tbody>tr,
.header-fixed>thead>tr>th,
.header-fixed>tbody>tr>td {
    display: block;
}

.header-fixed>tbody>tr:after,
.header-fixed>thead>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed>tbody {
    overflow-y: auto;
    height: 60vh;
}

.table>tbody>tr>td,
.table>thead>tr>th {
    width: 9%;
    float: left;
    text-align: center;
}

.table>tbody>tr>td.col-width40,
.table>thead>tr>th.col-width40 {
    width: 40%;
    float: left;
    text-align: left;
}

.table>tbody>tr>td.col-width20,
.table>thead>tr>th.col-width20 {
    width: 20%;
    float: left;
    text-align: left;
}

.table>tbody>tr>td.col-width18,
.table>thead>tr>th.col-width18 {
    width: 18%;
    float: left;
    text-align: left;
}

.table>tbody>tr>td.col-width10,
.table>thead>tr>th.col-width10 {
    width: 10%;
    float: left;
    text-align: right;
}

.empty-row {
    height: 25px;
}

.delete-form {
    display: inline;
}
