{% extends "../template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2><i class="fa fa-edit fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;Edit user</h2>
            <div class="form-group">
                <a href="/users" class="btn btn-default">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    &nbsp;&nbsp;Return to user index
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column col-sm-12">
                <form action="/users/{{ foundUser._id }}?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="username">Altamonte Springs Email Address</label>
                        <input type="email" class="form-control" name="username" id="username" value="{{ foundUser.username }}" disabled>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="controls-row">
                                <label class="control-label">
                                    <span class="space-out">Authority Level </span>
                                </label>
                                <div class="pull-apart">
                                    <input type="radio" class="radio inline" name="auth_level" value="admin" {{ "checked" if foundUser.auth_level === "admin" }}/>
                                    <span class="space-out">admin</span>
                                    <input type="radio" class="radio inline" name="auth_level" value="editor" {{ "checked" if foundUser.auth_level === "editor" }}/>
                                    <span class="space-out">editor</span>
                                    <input type="radio" class="radio inline" name="auth_level" value="viewer" {{ "checked" if foundUser.auth_level === "viewer" }}/>
                                    <span class="space-out">viewer</span>
                                </div>
                                <label class="control-label">
                                    <span class="space-out">Password reset </span>
                                </label>
                                <div class="pull-apart">
                                    <input type="radio" class="radio inline" name="needs_reset" value="true" {{ "checked" if foundUser.needs_reset === true }}/>
                                    <span class="space-out">true</span>
                                    <input type="radio" class="radio inline" name="needs_reset" value="false" {{ "checked" if foundUser.needs_reset === false }}/>
                                    <span class="space-out">false</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes
                        </button>
                    </div>
                </form>
                <form class="pull-right" action="/users/{{ foundUser._id }}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete user
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
