{% extends "../template.njk" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;User Index</h2>
            <div class="form-group">
                <a href="/" class="btn btn-default">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    &nbsp;&nbsp;Return to main
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column col-sm-12">
                <a class="btn btn-primary pull-right" href="/users/new" role="button">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;new user
                </a>
            </div>
            <div class="column col-sm-12">
                <table id="participantIndexTable" class="tablesorter table table-striped">
                    <thead>
                        <tr>
                            <th class="col-width40">Username</th>
                            <th class="col-width30">Authority</th>
                            <th class="col-width30">Password Reset?</th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="col-width40"><a href="/users/{{ user._id }}/edit">{{ user.username }}</a></td>
                            <td class="col-width30">{{ user.auth_level }}</td>
                            <td class="col-width30">{{ user.needs_reset }}</td>
                        </tr>
                        {% else %}
                            <td class="col-width40">no users to display</td>
                            <td class="col-width30"> - </td>
                            <td class="col-width30"> - </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}